.box {
  padding-top: 0;
}
.section-box {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--brand-color);
}
.list-box {
  display: flex;

  gap: 30px;
}
.item-box {
  position: relative;
}
.lead-item {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--bgn-box);
}
.position-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-color);
}
